<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <appSettings>
        <!-- Sertifika şifresi: Üretim ortamında bu değeri değiştirin veya environment variable kullanın -->
        <add key="CertificatePassword" value="demo"/>
    </appSettings>
</configuration>
